*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/test/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/config/database.yml
/public/uploads
config/settings.local.yml
config/settings/*.local.yml
config/settings/test.yml
config/environments/*.local.yml
.DS_Store
/.idea
app/assets/javascripts/i18n/translations.js
# Ignore application configuration
/config/application.yml
.byebug_history
vendor/assets/bower_resources/*
config/application.yml
/.framgia-ci-reports
.framgia-ci-result.temp.yml
/public/assets
